<footer class="bg-dark text-light text-center py-4 mt-5">
    <div class="container">
        <p class="mb-1">
            <strong>Cooperativa Copelec</strong>, la Cooperativa de Ñuble
        </p>
        <p class="mb-2">
            📍 Casa Matriz: 18 de Septiembre N°688, Chillán<br>
            ☎️ (42) 220 44 00 | Emergencia: (42) 222 33 08 | 800 720 180<br>
            📧 Email:
            <a href="mailto:copelec&#64;copelec.cl" class="text-light text-decoration-underline">
                copelec&#64;copelec.cl
            </a>
        </p>
        <p class="small">&copy; 2025 - Todos los derechos reservados</p>

        <button class="btn btn-outline-light rounded-circle mt-3" class="scroll-to-top" *ngIf="isButtonVisible"  (click)="scrollToTop()">
            ⬆
        </button>
    </div>
</footer>

<!--  
Cooperativa Copelec, la Cooperativa de Ñuble 
Dirección: Casa Matriz 18 de Septiembre N°688 Chillán.     
Fono: (42) 220 44 00 - Emergencia: (42) 222 33 08 - 800 720 180
E-Mail: copelec@copelec.cl
© 2022 Todos los derechos reservados.

Solo nosotros llegamos de mar a cordillera

-->