<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid" style="background-color: #444444;">
    <a class="navbar-brand" href="#">
      <img src="img/logo.png" alt="Logo" width="auto" height="75" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown" *ngIf="authService.isLoggedIn()">
      <ul class="navbar-nav">

        <!-- Inicio y Nosotros siempre visibles cuando se loguea -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="''" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'nosotros'" routerLinkActive="active">Nosotros</a>
        </li>

        <!-- Dropdown Áreas según rol -->
        <li class="nav-item dropdown" *ngIf="authService.hasRole(['admin','nuevos'])">
          <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"[routerLink]="'nuevos-negocios'" routerLinkActive="active" >
            Nuevos Negocios
          </a>
          <!-- <ul class="dropdown-menu" style="background-color: #82877e;">
            <li><a class="dropdown-item" [routerLink]="'nuevos-negocios'" routerLinkActive="active">Nuevo Negocios</a></li>
          </ul> -->
        </li>

        <li class="nav-item dropdown" *ngIf="authService.hasRole(['admin','electrica'])">
          <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" [routerLink]="'electrica'" routerLinkActive="active">
            Eléctrica
          </a>
          <!-- <ul class="dropdown-menu" style="background-color: #82877e;">
            <li><a class="dropdown-item" [routerLink]="'electrica'" routerLinkActive="active">Eléctrica</a></li>
          </ul> -->
        </li>

        <li class="nav-item dropdown" *ngIf="authService.hasRole(['admin','forestal'])">
          <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" [routerLink]="'forestal'" routerLinkActive="active">
            Forestal
          </a>
          <!-- <ul class="dropdown-menu" style="background-color: #82877e;">
            <li><a class="dropdown-item" [routerLink]="'forestal'" routerLinkActive="active">Forestal</a></li>
          </ul> dropdown-toggle -->
        </li>

        <li class="nav-item dropdown" *ngIf="authService.hasRole(['admin'])">
          <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" [routerLink]="'admin'" routerLinkActive="active">
            Administración
          </a>
          <!-- <ul class="dropdown-menu" style="background-color: #82877e;">
            <li><a class="dropdown-item" [routerLink]="'admin'" routerLinkActive="active">Administración</a></li>
          </ul> -->
        </li>

      </ul>
      <ul class="navbar-nav ms-auto">
        <!-- Botón Cerrar sesión -->
        <li class="nav-item">
          <a class="nav-link" role="button" (click)="logout()" id="logout">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>