
.navbar{
    margin: 0;
    padding: 0;
    border-bottom: solid 2px #000;
    background-color: #444444;
}

.nav-link{
    color: white;
    font-size: 20px;
    padding: 12px 16px;
    text-transform: uppercase; 
    font-weight: bold;
}

.navbar .dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0;
}

.navbar-nav .nav-item{
    margin-right: 20px;
}

.navbar .nav-link:hover{
    color: #F28705;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    display: none;
    position: absolute;
    background-color: #82877e;
}

.dropdown-submenu:hover .dropdown-menu {
    display: block;
}

.dropdown-item:hover {
    background-color: #F28705;
    color: white;
}

.navbar .navbar-toggler {
    background-color: #F28705;
}

#logout{
    cursor: pointer;
    border-radius: 5px;
    background-color: red;
}

