<div class="container-fluid mt-3">
    <div class="row">
        <!-- Menú lateral -->
        <nav class="col-12 col-md-2 sidebar-custom mb-3 mb-md-0">
            <h4 class="text-center text-md-start">Secciones</h4>
            <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action">
                <i class="bi bi-bookmark-check-fill me-2"></i>LECTURA
            </button>
            <button type="button" class="list-group-item list-group-item-action">
                <i class="bi bi-clipboard-data-fill me-2"></i>OPERACIONES
            </button>
            <button type="button" class="list-group-item list-group-item-action">
                <i class="bi bi-binoculars-fill me-2"></i> INSPECCIONES
            </button>
            <button type="button" class="list-group-item list-group-item-action">
                <i class="bi bi-clipboard2-pulse-fill me-2"></i>PROYECTOS
            </button>
            <button type="button" class="list-group-item list-group-item-action">
                <i class="bi bi-geo-fill me-2"></i>GEORREFERENCIA
            </button>
            </div>
        </nav>

        <!-- Contenido principal -->
        <div class="col-12 col-md-10 p-3">
            <h2>ELECTRICA</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro aspernatur eos aut consequuntur esse
                voluptas, ex eligendi commodi quo quia delectus perspiciatis non blanditiis at minima, itaque natus
                dignissimos molestias?
            </p>

            <hr>
            <div id="lectura">
                <h4>LECTURA</h4>
                <p>Contenido de lectura... (iframe o lo que desees)</p>
                <div>
                    <iframe title="AREA LECTURA AVANCE 2025" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiN2U3YjczNWMtYTgwZi00MjQzLWIzMjAtOWZmZmFiNTgyODY4IiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=9621055ba3abffc40b97" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="operaciones">
                <h4>OPERACIONES</h4>
                <p>Contenido de operaciones...</p>
                <div>
                    <iframe title="AREA OPERACIONES" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiNDIzMzFkMGEtMTUyNi00NWY4LTkwYzgtNTRmODZkNjJjM2M0IiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=8ac965c3326a328101fa" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="inspecciones">
                <h4>INSPECCIONES</h4>
                <p>Contenido de inspecciones...</p>
                <div>
                    <iframe title="AREA INSPECIONES" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiZjY3OGEwYmEtNmI3OC00ZjBiLTkxZTYtMTZlZTQ5YzFiMWM4IiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=76bb449bbbaba0d4e040" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="proyectos">
                <h4>PROYECTOS</h4>
                <p>Contenido de proyectos...</p>
                <div>
                    PROYECTO <iframe title="AREA PROYECTO 2024" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiN2MzNjE1OTAtM2I4ZS00NDlmLTg3NTgtMWZhZDI0MDMwYmQyIiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=caea87d345d2b0da6d58" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="georReferencia">
                <h4>GEORREFERENCIA</h4>
                <p>Contenido de georeferencia...</p>
                <div>
                    <iframe title="AREA GEORREFERENCIA 2024" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiZDY4NmMzZDItNzc5NS00YmI3LWEwZWUtYzMyNjc5YmE5YjA5IiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=b31bb087a1ca2b07154d" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>