<div class="container-fluid mt-3">
    <div class="row">
        <!-- Menú lateral -->
        <nav class="col-12 col-md-2 sidebar-custom mb-3 mb-md-0">
            <h4 class="text-center text-md-start">Secciones</h4>
        
            <div class="accordion" id="accordionNuevosNegocios">
        
                <!-- CONECTIVIDAD Y REDES -->
                <div class="accordion-item bg-dark text-white">
                    <h2 class="accordion-header" id="headingOperaciones">
                        <button class="accordion-button collapsed bg-dark text-white" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOperaciones" aria-expanded="false" aria-controls="collapseOperaciones">
                            <i class="bi bi-lightning-fill"></i> ELECTRICA
                        </button>
                    </h2>
                    <div id="collapseOperaciones" class="accordion-collapse collapse" aria-labelledby="headingOperaciones"
                        data-bs-parent="#accordionNuevosNegocios">
                        <div class="accordion-body p-0">
                            <a class="list-group-item list-group-item-action" (click)="scrollToSection('lectura')">LECTURA</a>
                            <a class="list-group-item list-group-item-action" (click)="scrollToSection('operaciones')">OPERACIONES</a>
                            <a class="list-group-item list-group-item-action"
                                (click)="scrollToSection('inspecciones')">INSPECCIONES</a>
                            <a class="list-group-item list-group-item-action" (click)="scrollToSection('proyectos')">PROYECTOS</a>
                            <a class="list-group-item list-group-item-action" (click)="scrollToSection('georReferencia')">GEORREFERENCIA</a>
                            <a class="list-group-item list group-item-action" (click)="scrollToSection('plaqueo')">PLAQUEO</a>
                            <a class="list-group-item list-group-item-action" (click)="scrollToSection('obras-electricas')">OBRAS ELECTRICAS</a>
                        </div>
                    </div>
                </div>
        
                <!-- OBRAS ELECTRICAS -->
        
            </div>
        </nav>

        <!-- Contenido principal -->
        <div class="col-12 col-md-10 p-3">
            <h2>ELECTRICA</h2>
            <p>
            </p>

            <hr>
            <div id="lectura">
                <h4>LECTURA</h4>
                <p></p>
                <div>
                    <iframe title="POWER BI LECTURA 2026" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiZDM5ZjhkMGYtYTc5NC00YzZhLWEyMTktZWM4Zjc4YWY0MGE0IiwidCI6IjE2NjdjNGVlLTM5MTQtNDQxMi05OTMzLTczZDY3ODdmOTJlOSJ9&pageName=49bad065ae69c01be830" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="operaciones">
                <h4>OPERACIONES</h4>
                <p></p>
                <div>
                    <iframe title="AREA OPERACIONES" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiZTQ4Mzg3MmYtNGRmZi00Yzk4LTgyZjctODhiYzc3ZjU4MjY0IiwidCI6IjE2NjdjNGVlLTM5MTQtNDQxMi05OTMzLTczZDY3ODdmOTJlOSJ9&pageName=c697beb6e1a1316a4eb2" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="inspecciones">
                <h4>INSPECCIONES</h4>
                <p></p>
                <div>
                    <iframe title="AREA INSPECIONES-MEDICION TIERRA - prueba" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiZTQ2ZDhjMDctNGJhOS00Zjk4LTkyNWItNGNlZDQxYmMxZWRmIiwidCI6IjE2NjdjNGVlLTM5MTQtNDQxMi05OTMzLTczZDY3ODdmOTJlOSJ9&pageName=76bb449bbbaba0d4e040" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="proyectos">
                <h4>PROYECTOS</h4>
                <p></p>
                <div>
                    <iframe title="AREA PROYECTO" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiYTFjNWRiYTctYzYyNi00NGIzLWExMjgtNjQwOGJiYjQ5MjczIiwidCI6IjE2NjdjNGVlLTM5MTQtNDQxMi05OTMzLTczZDY3ODdmOTJlOSJ9&pageName=25f2db090cc104f7843d" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="georReferencia">
                <h4>GEORREFERENCIA</h4>
                <p></p>
                <div>
                    <iframe title="AREA GEORREFERENCIA" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiMzA2ZGIyMDItM2IzNC00MDdkLTgxMDctMDliODg5ZGIzZTFhIiwidCI6IjE2NjdjNGVlLTM5MTQtNDQxMi05OTMzLTczZDY3ODdmOTJlOSJ9&pageName=842c680ef33adbc4031b" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="plaqueo">
                <h4>PLAQUEO</h4>
                <p></p>
                <div>
                    <iframe title="PLAQUEO" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiNTY1MDlmOTUtMTc5ZS00MTZlLThjMTYtOWI2Njk2M2Q5ZWVhIiwidCI6IjE2NjdjNGVlLTM5MTQtNDQxMi05OTMzLTczZDY3ODdmOTJlOSJ9&pageName=aae9abd81647b46f8f0c" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="obras-electricas">
                <h4>CONSTRUCCION OBRAS ELECTRICAS</h4>
                <P></P>
                <div>
                    <iframe title="DISTRIBUCION-CALIDAD SUMINISTRO-OOEE 2025" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiZjI2NDI5ODQtZDc2Ni00M2Y2LWE2YjUtMTAzNWFiZGEzMGU5IiwidCI6IjE2NjdjNGVlLTM5MTQtNDQxMi05OTMzLTczZDY3ODdmOTJlOSJ9" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>