<div class="container-fluid mt-3">
    <div class="row">
        <!-- Menú lateral -->
        <nav class="col-12 col-md-2 sidebar-custom mb-3 mb-md-0">
            <h4 class="text-center text-md-start">Secciones</h4>
        
            <div class="accordion" id="accordionNuevosNegocios">
        
                <!-- CONECTIVIDAD Y REDES -->
                <div class="accordion-item bg-dark text-white">
                    <h2 class="accordion-header" id="headingOperaciones">
                        <button class="accordion-button collapsed bg-dark text-white" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOperaciones" aria-expanded="false" aria-controls="collapseOperaciones">
                            <i class="bi bi-lightning-fill"></i> ELECTRICA
                        </button>
                    </h2>
                    <div id="collapseOperaciones" class="accordion-collapse collapse" aria-labelledby="headingOperaciones"
                        data-bs-parent="#accordionNuevosNegocios">
                        <div class="accordion-body p-0">
                            <a class="list-group-item list-group-item-action" (click)="scrollToSection('lectura')">LECTURA</a>
                            <a class="list-group-item list-group-item-action" (click)="scrollToSection('operaciones')">OPERACIONES</a>
                            <a class="list-group-item list-group-item-action"
                                (click)="scrollToSection('inspecciones')">INSPECCIONES</a>
                            <a class="list-group-item list-group-item-action" (click)="scrollToSection('proyectos')">PROYECTOS</a>
                            <a class="list-group-item list-group-item-action" (click)="scrollToSection('georReferencia')">GEORREFERENCIA</a>
                            <a class="list-group-item list-group-item-action" (click)="scrollToSection('obras-electricas')">OBRAS ELECTRICAS</a>
                        </div>
                    </div>
                </div>
        
                <!-- OBRAS ELECTRICAS -->
        
            </div>
        </nav>

        <!-- Contenido principal -->
        <div class="col-12 col-md-10 p-3">
            <h2>ELECTRICA</h2>
            <p>
            </p>

            <hr>
            <div id="lectura">
                <h4>LECTURA</h4>
                <p></p>
                <div>
                    <iframe title="AREA LECTURA PUBLICO" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiYmMzNGE1ZWQtZmQ2NS00NWQxLWIyOTctMmUyZjU4ODFhNDE4IiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=9621055ba3abffc40b97" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="operaciones">
                <h4>OPERACIONES</h4>
                <p></p>
                <div>
                    <iframe title="AREA OPERACIONES" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiNDIzMzFkMGEtMTUyNi00NWY4LTkwYzgtNTRmODZkNjJjM2M0IiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=8ac965c3326a328101fa" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="inspecciones">
                <h4>INSPECCIONES</h4>
                <p></p>
                <div>
                    <iframe title="AREA INSPECIONES" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiZjY3OGEwYmEtNmI3OC00ZjBiLTkxZTYtMTZlZTQ5YzFiMWM4IiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=76bb449bbbaba0d4e040" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="proyectos">
                <h4>PROYECTOS</h4>
                <p></p>
                <div>
                    <iframe title="AREA PROYECTO 2024" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiN2MzNjE1OTAtM2I4ZS00NDlmLTg3NTgtMWZhZDI0MDMwYmQyIiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=caea87d345d2b0da6d58" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="georReferencia">
                <h4>GEORREFERENCIA</h4>
                <p></p>
                <div>
                    <iframe title="AREA GEORREFERENCIA 2024" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiZDY4NmMzZDItNzc5NS00YmI3LWEwZWUtYzMyNjc5YmE5YjA5IiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=b31bb087a1ca2b07154d" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="obras-electricas">
                <h4>CONSTRUCCION OBRAS ELECTRICAS</h4>
                <P></P>
                <div>
                    <iframe title="CONSTRUCCION DE OBRAS ELECTRICAS" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiOGIzOWIwOTAtOGI4Ny00OTNmLTk1MGMtZTdmOTE5N2E0ZmYyIiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=ebc5582f99915d280418" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>