<div class="container-fluid mt-3">
    <div class="row">
        <!-- Menú lateral -->
        <nav class="col-12 col-md-2 sidebar-custom mb-3 mb-md-0">
            <h4 class="text-center text-md-start">Secciones</h4>
        
            <div class="accordion" id="accordionNuevosNegocios">
        
                <!-- GESTION -->
                <div class="accordion-item bg-dark text-white">
                    <h2 class="accordion-header" id="headingOperaciones">
                        <button class="accordion-button collapsed bg-dark text-white" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOperaciones" aria-expanded="false" aria-controls="collapseOperaciones">
                            <i class="bi bi-lightning-charge-fill me-2"></i>GESTION ADMINISTRATIVA
                        </button>
                    </h2>
                    <div id="collapseOperaciones" class="accordion-collapse collapse" aria-labelledby="headingOperaciones"
                        data-bs-parent="#accordionNuevosNegocios">
                        <div class="accordion-body p-0">
                            <a class="list-group-item list-group-item-action" (click)="scrollToSection('operaciones-electricas')">GESTION</a>
                        </div>
                    </div>
                </div>
        
                <!-- ESTADO RESULTADO -->
                <div class="accordion-item bg-dark text-white">
                    <h2 class="accordion-header" id="headingConectividad">
                        <button class="accordion-button collapsed bg-dark text-white" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseConectividad" aria-expanded="false" aria-controls="collapseConectividad">
                            <i class="bi bi-hdd-network me-2"></i>ESTADO RESULTADO
                        </button>
                    </h2>
                    <div id="collapseConectividad" class="accordion-collapse collapse" aria-labelledby="headingConectividad"
                        data-bs-parent="#accordionNuevosNegocios">
                        <div class="accordion-body p-0">
                            <a class="list-group-item list-group-item-action"
                                (click)="scrollToSection('mantenciones-emergencia')">EERR GENERAL</a>
                        </div>
                    </div>
                </div>

                <!-- MANTENCIONES -->
                <div class="accordion-item bg-dark text-white">
                    <h2 class="accordion-header" id="headingMantenciones">
                        <button class="accordion-button collapsed bg-dark text-white" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseMantenciones" aria-expanded="false" aria-controls="collapseMantenciones">
                            <i class="bi bi-gear me-2"></i>MANTENCIONES
                        </button>
                    </h2>
                    <div id="collapseMantenciones" class="accordion-collapse collapse" aria-labelledby="headingMantenciones"
                        data-bs-parent="#accordionNuevosNegocios">
                        <div class="accordion-body p-0">
                            <a class="list-group-item list-group-item-action" (click)="scrollToSection('hc')">MANTENCIONES HC</a>
                        </div>
                    </div>
                </div>

                <!-- FLOTA -->
                <div>
                    <div class="accordion-item bg-dark text-white">
                    <h2 class="accordion-header" id="headingFlota">
                        <button class="accordion-button collapsed bg-dark text-white" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFlota" aria-expanded="false" aria-controls="collapseFlota">
                            <i class="bi bi-car-front me-2"></i>FLOTA
                        </button>
                    </h2>
                    <div id="collapseFlota" class="accordion-collapse collapse" aria-labelledby="headingFlota"
                        data-bs-parent="#accordionNuevosNegocios">
                        <div class="accordion-body p-0">
                            <a class="list-group-item list-group-item-action" (click)="scrollToSection('flota')">FLOTA ALIADOS</a>
                        </div>
                    </div>
                </div>
                </div>
        
            </div>
        </nav>

        <!-- Contenido principal -->
        <div class="col-12 col-md-10 p-3">
            <h2>ADMINISTRACION</h2>
            <p>
              
            </p>

            <hr>
            <div id="operaciones-electricas">
                <h4>GESTIÓN</h4>
                <P></P>
                <div>
                    <iframe title="ADMINISTRACION - PUBLICAR FINAL" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiZjI3ZTBjNjMtNGIzNi00Yjg5LWFjNTMtYjgwNGQ5YTM5ODY4IiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=ReportSection5b81c74239583d0c8e29" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="mantenciones-emergencia">
                <h4>EERR GENERAL</h4>
                <P></P>
                <div>
                    <iframe title="OBRA ELECTRICA (DESCONEXION)- PUBLICAR" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiN2UxMzYyNjMtZTM4YS00ZWNiLWE1M2YtNDRlMmNiZDgyNTQxIiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=097fe97571070d6497bc" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="hc">
                <h4>MANTENCIONES HC</h4>
                <p></p>
                <div>
                    <iframe title="MANTENCIONES HC" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiNGMxYTlmOWUtNWY1My00MDU0LTlkYmUtM2QxN2NiMDM0MTkzIiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=719cb98e2150028a7d78" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div>
                <h4>FLOTA</h4>
                <p></p>
                <div id="flota">
                    <iframe title="FLOTA" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiMTg3NGQwZWYtNWQyNy00Y2FkLTk0ZGEtZDBiYzMzNTY1YjU3IiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=17be0febc58e91026864" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
           
        </div>
    </div>
</div>
