<div class="container-fluid mt-3">
    <div class="row">
        <!-- Menú lateral -->
        <nav class="col-12 col-md-2 sidebar-custom mb-3 mb-md-0">
            <h4 class="text-center text-md-start">Secciones</h4>
        
            <div class="accordion" id="accordionNuevosNegocios">
        
                <!-- OPERACIONES ELÉCTRICAS -->
                <div class="accordion-item bg-dark text-white">
                    <h2 class="accordion-header" id="headingOperaciones">
                        <button class="accordion-button collapsed bg-dark text-white" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOperaciones" aria-expanded="false" aria-controls="collapseOperaciones">
                            <i class="bi bi-lightning-charge-fill me-2"></i>OBRAS ELECTRICAS
                        </button>
                    </h2>
                    <div id="collapseOperaciones" class="accordion-collapse collapse" aria-labelledby="headingOperaciones"
                        data-bs-parent="#accordionNuevosNegocios">
                        <div class="accordion-body p-0">
                            <a class="list-group-item list-group-item-action" (click)="scrollToSection('operaciones-electricas')">OPERACIONES ELECTRICAS</a>
                            <a class="list-group-item list-group-item-action" (click)="scrollToSection('sitios-wom')">SITIOS
                                WOM</a>
                            <a class="list-group-item list-group-item-action"
                                (click)="scrollToSection('desconecciones-forestales')">DESCONEXIONES FORESTALES</a>
                            <a class="list-group-item list-group-item-action" (click)="scrollToSection('camion-pluma')">CAMIÓN
                                PLUMA</a>
                        </div>
                    </div>
                </div>
        
                <!-- CONECTIVIDAD Y REDES -->
                <div class="accordion-item bg-dark text-white">
                    <h2 class="accordion-header" id="headingConectividad">
                        <button class="accordion-button collapsed bg-dark text-white" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseConectividad" aria-expanded="false" aria-controls="collapseConectividad">
                            <i class="bi bi-hdd-network me-2"></i>CONECTIVIDAD Y REDES
                        </button>
                    </h2>
                    <div id="collapseConectividad" class="accordion-collapse collapse" aria-labelledby="headingConectividad"
                        data-bs-parent="#accordionNuevosNegocios">
                        <div class="accordion-body p-0">
                            <a class="list-group-item list-group-item-action"
                                (click)="scrollToSection('mantenciones-emergencia')">MANTENCIONES Y EMERGENCIA</a>
                                <a class="list-group-item list-group-item-action"
                                (click)="scrollToSection('instalaciones-reparaciones')">INSTALACIONES Y REPARACIONES (FTTH)</a>
                                <a class="list-group-item list-group-item-action"
                                (click)="scrollToSection('tendido-fibra')">TENDIDO DE FIBRA</a>
                        </div>
                    </div>
                </div>
        
            </div>
        </nav>

        <!-- Contenido principal -->
        <div class="col-12 col-md-10 p-3">
            <h2>NUEVO NEGOCIOS</h2>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi sint debitis dolor at ab veniam repellat dolorum esse exercitationem? Laudantium recusandae consectetur accusantium possimus voluptatum a neque. Quod, magni facilis!
            </p>

            <hr>
            <div id="operaciones-electricas">
                <h4>OPERACIONES ELECTRICAS</h4>
                <P>Contenido de operaciones electricas</P>
                <div>
                    <iframe title="INFORME DAR LUZ Y OPERACIONES ELECTRICAS PRODUCCION" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiZTI4MjIwMmItOWMwNC00YjA0LWE1ODAtMzllNzdlNjA2MDcxIiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=ReportSectionfc8ffe10b13880a31c84" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="sitios-wom">
                <h4>SITIOS WOM</h4>
                <p>Contenido de sitios wom...</p>
                <div>
                    <iframe title="SITIOS WOM 2023-2024 14-04 PUBLICAR" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiNTYxNDM0MWMtMjQ0ZC00MTliLWIwMGEtNTBlYmE0NGRjMjhiIiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=22d8c5a508629629558a" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="desconecciones-forestales">
                <h4>DESCONEXIONES FORESTALES</h4>
                <p>Contenido de obra electrica...</p>
                <div>
                    <iframe title="OBRA ELECTRICA (DESCONEXION) - PUBLICAR" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiZTk4YjFiYTAtNWNmNC00MTRiLTkzNDMtNWE5ZDM5OGMyZjBjIiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=2cf7d6f313d6a833b2e4" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="camion-pluma">
                <h4>CAMION PLUMA</h4>
                <div>
                    <iframe title="CAMION PLUMA PUBLICAR" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiMGFlYWYzN2QtMGI0Yi00YjNlLTkwYWQtMjEyNjlmM2FhMGVhIiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=2cf7d6f313d6a833b2e4" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="mantenciones-emergencia">
                <h4>MANTENCIONES Y EMERGENCIA</h4>
                <div>
                    <iframe title="MANTENCIONES Y EMERGENCIAS" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiMzdjZDBiYjMtZjVmNi00NWU2LTg5MzItYTAyMGM3Mjk3ZThkIiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=c6f539d940bb02c51165" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="instalaciones-reparaciones">
                <h4>INSTALACIONES Y REPARACIONES (FTTH)</h4>
                <div>
                    <iframe title="FTTH - PUBLICAR" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiY2Y0ODVmY2EtOGZkNC00NjdjLWIyNjAtZGUyYWQ4ZDE4MzAxIiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=91ed31e6d7667dca0f52" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="tendido-fibra">
                <h4>TENDIDO DE FIBRA</h4>
                <h5>PROYECTO ANILLO 1 ETAPA 2 CIRUELITO</h5>
                <div>
                    <iframe title="ANILLO 1 ETAPA 2  CIRUELITO- PUBLICAR" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiZjdiMjc0M2EtOTM0Ni00NmFlLWJlMjItOGU4OGY0NjE5ZWQwIiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=0b57996f157998a8488a" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
