<div class="container-fluid mt-3">
    <div class="row">
        <!-- Menú lateral -->
        <nav class="col-12 col-md-2 sidebar-custom mb-3 mb-md-0">
            <h4 class="text-center text-md-start">Secciones</h4>
        
            <div class="accordion" id="accordionNuevosNegocios">
        
                <!-- CONECTIVIDAD Y REDES -->
                <div class="accordion-item bg-dark text-white">
                    <h2 class="accordion-header" id="headingOperaciones">
                        <button class="accordion-button collapsed bg-dark text-white" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOperaciones" aria-expanded="false" aria-controls="collapseOperaciones">
                            <i class="bi bi-router-fill me-2"></i>CONECTIVIDAD Y REDES
                        </button>
                    </h2>
                    <div id="collapseOperaciones" class="accordion-collapse collapse" aria-labelledby="headingOperaciones"
                        data-bs-parent="#accordionNuevosNegocios">
                        <div class="accordion-body p-0">
                            <a class="list-group-item list-group-item-action" (click)="scrollToSection('operaciones-electricas')">TENDIDO DE FIBRA</a>
                            <a class="list-group-item list-group-item-action" (click)="scrollToSection('sitios-wom')">INSTALACIONES Y REPARACIONES (FTTH)</a>
                            <a class="list-group-item list-group-item-action"
                                (click)="scrollToSection('desconecciones-forestales')">MANTENCIONES Y EMERGENCIAS</a>
                        </div>
                    </div>
                </div>
        
                <!-- OBRAS ELECTRICAS -->
                <div class="accordion-item bg-dark text-white">
                    <h2 class="accordion-header" id="headingConectividad">
                        <button class="accordion-button collapsed bg-dark text-white" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseConectividad" aria-expanded="false" aria-controls="collapseConectividad">
                            <i class="bi bi-hdd-network me-2"></i>OBRAS ELECTRICAS
                        </button>
                    </h2>
                    <div id="collapseConectividad" class="accordion-collapse collapse" aria-labelledby="headingConectividad"
                        data-bs-parent="#accordionNuevosNegocios">
                        <div class="accordion-body p-0">
                            <a class="list-group-item list-group-item-action"
                                (click)="scrollToSection('mantenciones-emergencia')">DESCONEXIONES FORESTALES</a>
                                <a class="list-group-item list-group-item-action"
                                (click)="scrollToSection('instalaciones-reparaciones')">MEDIDOR INTELIGENTES</a>
                                <a class="list-group-item list-group-item-action"
                                (click)="scrollToSection('tendido-fibra')">PROYECTOS WOM</a>
                        </div>
                    </div>
                </div>
        
            </div>
        </nav>

        <!-- Contenido principal -->
        <div class="col-12 col-md-10 p-3">
            <h2>NUEVO NEGOCIOS</h2>
            <p>
            </p>

            <hr>
            <div id="operaciones-electricas">
                <h4>CONSTRUCCION PLANTA EXTERNA FO</h4>
                <P></P>
                <div>
                    <iframe title="TENDIDO DE FIBRA - PUBLICAR" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiNjA0NjFlNWUtODg0Mi00MGVhLThlY2ItYWVhNDRiYjBmMGIyIiwidCI6IjAxZjA0NDcwLWQ2MzItNGNhOC05MWQ3LTVhZWIxY2VlYjBkNCIsImMiOjR9&pageName=2cf7d6f313d6a833b2e4" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="sitios-wom">
                <h4>INSTALACIONES Y REPARACIONES (FTTH)</h4>
                <p>
                </p>
                <div>
                    <iframe title="FTTH - PUBLICAR V2" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiZGZlYmNmMTMtNzJjMC00MzI0LTg2ZGItMzRlYzkwNzYxMmZjIiwidCI6IjAxZjA0NDcwLWQ2MzItNGNhOC05MWQ3LTVhZWIxY2VlYjBkNCIsImMiOjR9&pageName=22bfd0e87c8acd0b580b" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="desconecciones-forestales">
                <h4>MANTENCIONES Y EMERGENCIAS</h4>
                <p></p>
                <div>
                    <iframe title="MANTENCIONES Y EMERGENCIAS - PUBLICAR" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiNmU0OWEyZDAtOTA5My00YTc1LWE2NWYtYTY2OTE4NWY1NzgzIiwidCI6IjAxZjA0NDcwLWQ2MzItNGNhOC05MWQ3LTVhZWIxY2VlYjBkNCIsImMiOjR9&pageName=c6f539d940bb02c51165" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <hr>
            <div id="mantenciones-emergencia">
                <h4>DESCONEXIONES FORESTALES</h4>
                <P></P>
                <div>
                    <iframe title="OBRA ELECTRICA (DESCONEXION)- PUBLICAR" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiZWZjY2Q1NzUtZjgxYS00ZGUwLWE2MGEtYzI2NTk4MzUwNDllIiwidCI6IjAxZjA0NDcwLWQ2MzItNGNhOC05MWQ3LTVhZWIxY2VlYjBkNCIsImMiOjR9&pageName=2cf7d6f313d6a833b2e4" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="instalaciones-reparaciones">
                <h4>MEDIDOR INTELIGENTE</h4>
                <p>
                </p>
                <div>
                    <iframe title="MEDIDOR INTELIGENTE - PRODUCCION" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiZWE3MjYxN2MtZGM1NC00OTc4LWI0NjAtNzY1NzMzYWJlMmVmIiwidCI6IjAxZjA0NDcwLWQ2MzItNGNhOC05MWQ3LTVhZWIxY2VlYjBkNCIsImMiOjR9&pageName=44045740e7575da040b4" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="tendido-fibra">
                <h4>PROYECTOS WOM</h4>
                <p></p>
                <div>
                    <iframe title="SITIOS WOM 2024 - PUBLICAR" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiY2FiZjRhYjQtMDk5ZS00ZjMzLTlhMDgtNzUwMjEzMTlmZGM4IiwidCI6IjAxZjA0NDcwLWQ2MzItNGNhOC05MWQ3LTVhZWIxY2VlYjBkNCIsImMiOjR9&pageName=cc317552179241e10244" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
  CONTENIDO DE FTTH
    FTTH significa “Fiber To The Home” o en español “Fibra hasta el hogar
    Se trata de una tecnología de telecomunicaciones donde la fibra óptica llega directamente al domicilio del cliente
    esto permite que el usuario tenga mayor velocidad de internet, menor latencia y más estabilidad que con tecnologías
    antiguas como el cobre y el coaxial

    CONTENIDO MEDIDORES INTELIGENTES
    Tecnologia en la cual se realiza un seguimiento a cada subEstacion electrica de la 
    region midiendo sus parametros en tiempo real
--->
