/* Tarjeta */
.card {
  background: #ffffffa4;
  border: none;
}

/* Input focus */
input:focus {
  box-shadow: 0 0 5px rgba(68, 68, 68, 0.4);
  border-color: #444444;
}

#loginbutton {
  background-color: #F28705;
  border: none;
  color: #1A3048;
}

label{
  color: #1A3048;
}

input{
  border-color: #1A3048;
}

h3{
  color: #1A3048;
}

#togglePasswordButton{
  border-color: #1A3048;
}