<div class="container-fluid mt-3">
    <div class="row">
        <!-- Menú lateral -->
        <nav class="col-12 col-md-2 sidebar-custom mb-3 mb-md-0">
            <h4 class="text-center text-md-start">Secciones</h4>
        
            <div class="accordion" id="accordionNuevosNegocios">
        
                <!-- CONECTIVIDAD Y REDES -->
                <div class="accordion-item bg-dark text-white">
                    <h2 class="accordion-header" id="headingOperaciones">
                        <button class="accordion-button collapsed bg-dark text-white" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOperaciones" aria-expanded="false" aria-controls="collapseOperaciones">
                            <i class="bi bi-tree-fill"></i> FORESTAL
                        </button>
                    </h2>
                    <div id="collapseOperaciones" class="accordion-collapse collapse" aria-labelledby="headingOperaciones"
                        data-bs-parent="#accordionNuevosNegocios">
                        <div class="accordion-body p-0">
                            <a class="list-group-item list-group-item-action" (click)="scrollToSection('chipeo')">CHIPEO</a>
                            <a class="list-group-item list-group-item-action" (click)="scrollToSection('quimico')">QUIMICO</a>
                            <a class="list-group-item list-group-item-action"
                                (click)="scrollToSection('avance')">AVANCE</a>
                            <a class="list-group-item list-group-item-action" (click)="scrollToSection('daff')">DAFF</a>
                            <a class="list-group-item list-group-item-action" (click)="scrollToSection('proyecto-forestal')">PROYECTO FORESTAL</a>
                            <a class="list-group-item list-group-item-action" (click)="scrollToSection('solicitudes')">SOLICITUDES</a>
                            <a class="list-group-item list-group-item-action" (click)="scrollToSection('señaletica')">SEÑALETICA</a>
                            <a class="list-group-item list-group-item-action" (click)="scrollToSection('transmision')">TRANSMISION</a>
                            <a class="list-group-item list-group-item-action" (click)="scrollToSection('control-contratista')">CONTROL CONTRATISTA</a>
                        </div>
                    </div>
                </div>
        
                <!-- OBRAS ELECTRICAS -->
        
            </div>
        </nav>

        <!-- Contenido principal -->
        <div class="col-12 col-md-10 p-3">
            <h2>FORESTAL</h2>
            <p>
            </p>

            <hr>
            <div id="chipeo">
                <h4>CHIPEO</h4>
                <p></p>
                <div>
                    <iframe title="CHIPEO - PRODUCCION - 2025" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiOTIwMTk5ZDUtZmQwMi00NTg3LTgyOWMtODBkZjJkMGU2OGRmIiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=ReportSectionc1c3324eeb57d888e59a" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="quimico">
                <h4>QUIMICO</h4>
                <p></p>
                <div>
                    <iframe title="QUIMICO - PRODUCCION - 2025" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiNmJhMjRkMTUtNmQ2ZS00MWJjLWE3YTYtNDAxOTVlZjk2ZjBhIiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=58f5b03420ed00618b7b" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="avance">
                <h4>AVANCE</h4>
                <p></p>
                <div>
                    <iframe title="AVANCE - PRODUCCION - 2025" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiMTUyMWViN2ItMTEzOC00NjhmLWI1MzMtOGYxMzlhNTcyZTMyIiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="daff">
                <h4>DAFF</h4>
                <p></p>
                <div>
                    <iframe title="DAFF - PRODUCCION - 2025" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiOWJlMWMxZTQtOTUxOC00NzEzLWFlZjUtYTE4YzViYzllMDI3IiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=ReportSection1f42a712c56dd631be87" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="proyecto-forestal">
                <h4>PROYECTO FORESTAL</h4>
                <p></p>
                <div>
                    <iframe title="PROYECTO FORESTAL - PRODUCCION - 2025" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiODkyMjJhM2UtMmE2Ny00NjVkLWFhYzgtMTc2NDVmODc0YWQ1IiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=ReportSection26dc99236dccd98113c8" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="solicitudes">
                <h4>SOLICITUDES</h4>
                <p></p>
                <div>
                    <iframe title="SOLICITUDES - PRODUCCION - 2025" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiNjNmZDc1Y2YtYjViNS00ZTU1LThhYzUtOTM2NjU4MjVjMjVkIiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=ReportSection5b81c74239583d0c8e29" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <hr>
            <div id="señaletica">
                <h4>SEÑALETICA</h4>
                <P></P>
                 <iframe title="SEÑALETICA" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiOGIzOTFjN2MtZDliYS00YWEwLTk2OTktNTU1YTdhZjE4ZmZiIiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=ReportSection1f42a712c56dd631be87" frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <hr>
            <div id="transmision">
                <h4>TRANSMISION</h4>
                <p></p>
                <div>
                    <iframe title="TRANSMISION PUBLICAR (10.03.2025)" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiNjAyYjRiMGYtOTg2MS00ZTQ1LThlZGYtZDFjOTc1OTZjNjgzIiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <div id="control-contratista">
                <h4>CONTROL CONTRATISTA</h4>
                <p></p>
                <div>
                    <iframe title="control contratista (10.03.2025)" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiY2M2MzFiNjYtODM3NC00NjQxLTgzOTUtOTYzYjZjY2QzNzFkIiwidCI6IjcwNTlmM2M3LTNkMGUtNDA0OS1iMWNjLTBkMWVhYTg4NTljNCIsImMiOjl9&pageName=ReportSection1f42a712c56dd631be87" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>